<ng-container *ngIf="!isLoading">
<a routerLink="/admin/article/ajout" >
  <button class="btn-success">
    Ajouter un article
  </button>
</a>
<h1>Les articles présents</h1>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Titre</th>
    <th scope="col">Contenu</th>
    <th scope="col">Url de l'image</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles">
    <th scope="row">{{ article.id }}</th>
    <td>{{ article.titre }}</td>
    <td>{{ article.contenu }}</td>
    <td><img src="{{ article.image }}"></td>
    <td>
      <a [routerLink]="['/admin/article/edit/', article.id]">
        <fa-icon [icon]="faEdit"></fa-icon>
      </a>
      <a (click)="deleteArticle(article)" style="margin-left: 10px; color: red; cursor: pointer;">
        <fa-icon [icon]="faTrash"></fa-icon>
      </a>
    </td>
  </tr>
  </tbody>

</table>
</ng-container>
