<h1>Ajouter un article : </h1>
<form #validationArticle="ngForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="titre">Titre de l'article</label>
    <input type="text" class="form-control" id="titre"
           (keypress)="logValue()"
           name="titre" required [(ngModel)]="articleForm.titre"
           #titre="ngModel">
    <div [hidden]="titre.valid"
         class="alert alert-danger">
      Veuillez saisir un titre
    </div>
  </div>

  <div class="form-group">
  <label for="image">Image de l'article</label>
  <input type="text" class="form-control" id="image"
         (keypress)="logValue()"
         name="image" required [(ngModel)]="articleForm.image"
         #image="ngModel">
  <div [hidden]="image.valid"
       class="alert alert-danger">
    Veuillez saisir l'url de l'image
  </div>
  </div>

  <div class="form-group">
    <label for="contenu">Contenu de l'article</label>
    <textarea class="form-control" id="contenu"
           name="contenu" required [(ngModel)]="articleForm.contenu"
              (keypress)="logValue()"
              #contenu="ngModel"></textarea>
    <div [hidden]="contenu.valid"
         class="alert alert-danger">
      Veuillez saiser le contenu
    </div>

  </div>
  <input type="submit" [disabled]="!validationArticle.valid">

  {{ validationArticle|log }}
</form>
